<!DOCTYPE html>
<html lang='en' class=''>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="dataset.css"/>
    <title>C4T</title>

</head>

<body>
    <div id="test"></div>


<script type="text/javascript" src="../lib/jquery.js"></script>
<script type="text/javascript" src="../lib/datagrid.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        var t = $("#test");
        // Example
        t.c4tgrid("create");
        
        });
    </script>
</body>

</html>