.NavBar {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    color: black;
    background-color: white;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgba(6, 116, 245, 1), 1px 1px 3px rgba(6, 116, 245)
}

.NavBar .searchbox {
    width: 20em;
}